/* Google Font import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* ROOT */
:root {
  --primary: #004643;
  --primary-low-opacity: #3b7873;
  --secondary: #ff8f00;
  --accent: #9c77b5;
  --correct-answer: #4c9b7e;
  --incorrect-answer: #db504a;
  --text-light: #ffffff;
  --text-dark: #333333;
  --grey-dark: #4a4a4a;
  --grey-light: #d3d3d3;
  --grey-background: #eff0f3;
}

/* ---- GENERAL CSS ---- */
* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  gap: 2rem;
}

button {
  background-color: var(--secondary);
  color: var(--text-light);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  display: block;
  width: 100%;
  margin: 2rem auto;
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
  border-radius: 35px;
}
button:hover {
  background-color: var(--accent);
  transform: scale(1.05);
}

.btn-primary {
  background-color: var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
}

/* ---- START PAGE CSS ---- */
.quiz-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  background-color: var(--text-light);
  height: 12rem;
  width: 12rem;
  margin: 2rem;
  border-radius: 50%;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* form CSS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
form > label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: white;
}
form > input::placeholder {
  font-size: 1rem;
  color: var(--grey-light);
}
form > input:focus {
  border: 1px solid var(--secondary);
}
form > input {
  padding: 0.5rem 0.8rem;
  font-size: 1.2rem;
  border: 1px solid var(--grey-light);
  background-color: var(--primary);
  border-radius: 5px;
  color: white;
  outline: none;
}

/* ---- QUIZ PAGE CSS ---- */
.question-number {
  font-size: 1rem;
  color: var(--text-dark);
}

.question-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--text-light);
  color: var(--grey-dark);
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}

.option-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.option-btn {
  width: 100%;
  background-color: white;
  border: 1px solid var(--grey-light);
  border-radius: 35px;
  border: none;
  color: var(--grey-dark);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  cursor: pointer;
}

.selected {
  background-color: var(--primary-low-opacity);
  color: var(--text-light);
}
.correct {
  background-color: var(--correct-answer);
}
.incorrect {
  background-color: var(--incorrect-answer);
  color: var(--text-light);
}

/* LEADERBOARD PAGE CSS */
.leaderboard-title {
  color: white;
}

/* podium CSS */
.container-podium {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
}
.podium-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  font-size: 1rem;
}
.podium-rounded {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bold;
  background-color: var(--grey-light);
  border-radius: 50%;
}
.first-podium {
  border: 2px solid var(--secondary);
  height: 10rem;
  width: 10rem;
  font-size: 1.5rem;
}
.second-podium {
  margin-top: 3rem;
  height: 8rem;
  width: 8rem;
  font-size: 1.2rem;
}
.third-podium {
  margin-top: 4rem;
  height: 6rem;
  width: 6rem;
  font-size: 1rem;
}

.remaining-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.remaining-item {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  border: 1px solid var(--grey-light);
  border-radius: 5px;
  border: none;
  color: var(--grey-dark);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  display: flex;
  cursor: pointer;
}

.btns-container {
  display: flex;
}
